<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>My first page angular</title>
    <script src="node_modules/angular/angular.js"></script>
</head>
<body ng-app="myApp">

    <input type="text" ng-model="nb1"/>

    <select ng-model="order">
        <option value="username">organiser par nom</option>
        <option value="content">organiser par contenu</option>
    </select>

    <div ng-controller="CommentsCtrl">

            <div ng-repeat="comment in comments | filter:{username:nb1} | orderBy:order">
                <p>
                    <strong>{{comment.username | uppercase}}</strong> <br/>
                    {{comment.content}}
                </p>
            </div>

    </div>


    <script>
        var myApp = angular.module('myApp',[]);

        myApp.controller('CommentsCtrl', ['$scope', function($scope) {
            $scope.comments=[
                {
                    "username": "Avila",
                    "city": "Beaverdale",
                    "email": "avilajames@imageflow.com",
                    "content": "Laborum in voluptate aliquip ullamco incididunt velit. Excepteur fugiat sunt sint ipsum officia aute Lorem duis pariatur ea aliquip deserunt. Elit proident eu labore et sunt do. Qui incididunt exercitation ex ut amet minim magna consequat cillum. Excepteur deserunt enim veniam Lorem nisi excepteur."
                },
                {
                    "username": "Lelia",
                    "city": "Rodman",
                    "email": "leliajames@imageflow.com",
                    "content": "Labore cupidatat sunt consequat in proident incididunt fugiat ipsum et eiusmod enim amet labore. Occaecat magna dolore reprehenderit nulla pariatur nisi aliqua. In consectetur id reprehenderit ea nisi. In officia excepteur eu anim ipsum aliquip aliqua reprehenderit nostrud occaecat. Est ex exercitation dolor veniam amet fugiat eiusmod fugiat irure nulla."
                },
                {
                    "username": "Hyde",
                    "city": "Glasgow",
                    "email": "hydejames@imageflow.com",
                    "content": "Sint sunt ipsum est culpa sit sunt sunt voluptate minim ea tempor commodo occaecat. Ut mollit reprehenderit officia est eu ullamco elit voluptate et irure. Labore nulla aute excepteur adipisicing reprehenderit culpa aliqua cupidatat consectetur. Non dolor ad laborum laborum reprehenderit qui do ad ex sunt enim consequat voluptate. Cillum nostrud ipsum incididunt eu irure incididunt voluptate consequat."
                },
                {
                    "username": "Sellers",
                    "city": "Brenton",
                    "email": "sellersjames@imageflow.com",
                    "content": "Pariatur do non duis dolore voluptate est non excepteur id ut ad laboris. Cillum reprehenderit laborum laborum ullamco aliquip amet sint ex ad fugiat. Dolor dolore anim velit esse ipsum qui amet commodo qui. Sunt aliqua laborum ipsum sit elit pariatur amet exercitation. Ad fugiat fugiat ullamco aliqua ea ex nulla dolore amet."
                },
                {
                    "username": "Rodriquez",
                    "city": "Sandston",
                    "email": "rodriquezjames@imageflow.com",
                    "content": "Et ex occaecat incididunt ipsum proident consequat do cillum aute. Nisi incididunt irure duis sunt ex dolor qui cupidatat non veniam. Nulla culpa aute adipisicing anim mollit proident magna reprehenderit labore ad. Quis culpa ea ex labore pariatur culpa eu velit enim incididunt. Do nulla culpa amet cupidatat laborum anim minim elit."
                }
            ];
        }]);

    </script>


</body>
</html>