<nav class="blue-grey lighten-2">
    <div class="nav-wrapper">
        <ul class="left hide-on-med-and-down">
            <li  ui-sref-active="active"><a ui-sref="customers">Clients</a></li>
            <li  ui-sref-active="active"><a ui-sref="projects">Projets</a></li>
            <li  ui-sref-active="active"><a ui-sref="interventions">Interventions</a></li>
            <li  ui-sref-active="active"><a ui-sref="interventionmodel">Modeles intervention</a></li>
            <li  ui-sref-active="active"><a ui-sref="dashboard">Tableau de bord</a></li>
            <li  ui-sref-active="active"><a ui-sref="planning">Planinng</a></li>

        </ul>
    </div>
</nav>