<div ng-include="'views/layout/header.html'"></div>
<div ng-include="'views/layout/navigation.html'"></div>

<div class="progress" ng-show="loading">
    <div class="indeterminate"></div>
</div>
<style>

</style>
<div ng-hide="loading" class="container">
    <div class="row" >


        <div class="row hide-print">
            <div class="input-field col s2">
                <input id="icon_prefix" ng-model="searchText" class="validate" />
                <label for="icon_prefix">Rechercher</label>
            </div>


            <div class="input-field col s3 offset-s1">

                <input  type="date" />

            </div>

            <div class="input-field col s3 offset-s1">

                <input  type="date" />
            </div>


            <div class="input-field col s1 offset-s1">
                <select>
                    <option value="1">5</option>
                    <option value="2">10</option>
                    <option value="3">20</option>
                </select>
            </div>
        </div>
        <div class="card">
            <table class=" bordered responsive-table">
                <thead>
                <tr >
                    <th data-field="name">Nom</th>
                    <th data-field="name">Adresse</th>
                    <th data-field="phone">Mobile 1</th>
                    <th data-field="phone">Mobile 2</th>
                    <th data-field="email">Email</th>
                </tr>
                </thead>

                <tbody>

                <tr ng-repeat="customer in customers | filter :searchText">
                    <td ><a  ui-sref="customerDetails({id: {{customer.Id}} })" >{{customer.FullName}}</a></td>
                    <td>{{customer.Adress}}</td>
                    <td>{{customer.Phone}}</td>
                    <td>{{customer.Mobile}}</td>
                    <td>{{customer.Email}}</td>
                </tr>

                </tbody>
            </table>
        </div>
        <div class="input-field center  hide-print">
            <ul class="pagination ">
                <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                <li class="active grey lighten-1"><a href="#!">1</a></li>
                <li class="waves-effect"><a href="#!">2</a></li>
                <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
            </ul>
        </div>

    </div>
</div>
<script>
    $(document).ready(function() {
        $('select').material_select();
    });
</script>