<div ng-include="'views/layout/header.html'"></div>
<div ng-include="'views/layout/navigation.html'"></div>
<style>
    .pad{
        margin-top: 20px;
    }
    .mad{
        margin-top: 30px;
    }

    #mapid { height:400px; border:1px solid red; }
</style>

<div class="progress" ng-show="loading">
    <div class="indeterminate"></div>
</div>
<div ng-hide="loading">
    <div class="row">
        <div class="col s2">
            <h4 class="teal-text"><small>{{customer.FullName}}</small></h4>
        </div>
        <div class="col s3 mad  hide-print">
            <a class=" btn waves-effect waves-light teal lighten-2 tooltipped " data-position="bottom" data-delay="50" data-tooltip="Modifier"><i class="medium material-icons ">mode_edit</i></a>
            <a class=" btn waves-effect waves-light red lighten-2 tooltipped" data-position="bottom" data-delay="50" data-tooltip="Supprimer"><i class="medium material-icons ">delete</i></a>
            <a class=" btn waves-effect waves-light blue darken-1 tooltipped " data-position="bottom" data-delay="50" data-tooltip="Ajouter une intervention"><i class="medium material-icons">insert_chart</i></a>
        </div>
        <div class="col s7 pad  hide-print">
           <div class="center-align">
                <ul class="tabs  ">
                    <li class="tab col s1"><a class="active" href="#intervention">Interventions (3)</a></li>
                    <li class="tab col s1"><a href="#locations">Sites</a></li>
                    <li class="tab col s1"><a href="#devices">Devices (3)</a></li>
                    <li class="tab col s1"><a href="#projects">Projets (1)</a></li>
                    <li class="tab col s1 disabled"><a href="#factures">Factures</a></li>
                </ul>
           </div>
        </div>
    </div>

    <div class="divider"></div>

    <section>
    <div class="row">


        <div id="details" class="col s12">
            <div class="col s3">
                <div class="row">
                    <h5>Adresse principale </h5>
                    <div class="divider"></div>
                    <p><i class="material-icons tiny">location_on</i> {{customer.Adress}}</p>
                </div>

                <div class="row">
                    <h5>Contact</h5>
                    <div class="divider"></div>
                    <p><i class="material-icons tiny ">email</i> {{customer.Email}}</p>
                    <p><i class="material-icons tiny">call</i> {{customer.Phone}}</p>
                    <p><i class="material-icons tiny">call</i> {{customer.Mobile}}</p>

                </div>

                <div class="row">
                    <div class="divider"></div>
                    <p><img class="materialboxed center-align" width="200" src="assets/images/signature.png"></p>
                </div>
            </div>

            <div id="intervention" class="col s9">
                <table class="striped responsive-table">
                    <thead>
                    <tr>
                        <th data-field="interventions">Interventions</th>
                        <th data-field="status">Statuts</th>
                        <th data-field="location">Sites</th>
                        <th data-field="technicians">Techniciens</th>
                        <th data-field="date">Debut</th>
                        <th data-field="date">Fin</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr ng-repeat="intervention in interventionsCustomer">
                        <td><a ui-sref="interventionDetails({id: {{intervention.Id}} })">{{intervention.Name}}</a></td>
                        <td class="green-text">Terminé</td>
                        <td>{{customer.Adress}}</td>
                        <td>{{intervention.Group.Name || "Team One"}}</td>
                        <td>{{intervention.StartDate | date:'yyyy-MMM-dd'}}</td>
                        <td>{{intervention.EndDate | date:'yyyy-MMM-dd'}}</td>
                    </tr>

                    </tbody>
                </table>
            </div>

            <div id="locations" class="col s9">
                <div id="mapid"></div>
                <script>

                    //var a  = $('#lala');
                    //console.log(a);
                   /* var scope = angular.element($("body")).scope();
                    console.log(scope.$$childHead);*/



                    var map = L.map('mapid').setView([-18.950940, 47.525204], 13);

                    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
                    }).addTo(map);


                    L.marker([-18.950940, 47.525204]).addTo(map)
                            .bindPopup('{{customer.Adress}}')
                            .openPopup();
                </script>

            </div>

            <div id="devices" class="container col s9">

                <table class="striped responsive-table">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>N° de serie</th>
                        <th>Identifiant unique</th>
                        <th>Dernier test</th>
                        <th>Informations spécifiques</th>
                        <th></th>

                    </tr>
                    </thead>

                    <tbody>
                    <tr ng-repeat="device in devicesCustomer">
                        <td>{{device.Name}}</td>
                        <td>{{device.Serial}}</td>
                        <td>{{device.Imei}}</td>
                        <td>{{device.Tests[0].Remarks}}</td>
                        <td>
                            <span class="chip" ng-repeat="add in device.AdditionalAttributes">{{add.Name}}: {{add.Value}}</span>
                        </td>
                        <td>

                            <a class=" btn waves-effect waves-light teal lighten-2 "><i class="large material-icons ">mode_edit</i></a>
                            <a class=" btn waves-effect waves-light red lighten-2 "><i class="large material-icons ">delete</i></a>

                        </td>
                    </tr>

                    </tbody>
                </table>

            </div>

            <div id="projects" class="col s9">
                <table class="striped responsive-table">
                    <thead>
                    <tr>
                        <th>Nom du projet</th>
                        <th>Description</th>
                        <th>Debut</th>
                        <th>Fin</th>
                        <th></th>

                    </tr>
                    </thead>

                    <tbody>
                    <tr ng-repeat="project in projectsCustomer">
                        <td><a ui-sref="projectDetails({id: {{project.Id}} })">{{project.Name}}</a></td>
                        <td>{{project.Description}}</td>
                        <td>07 Septembre 2016</td>
                        <td>09 Septembre 2016</td>
                        <td>

                            <a class=" btn waves-effect waves-light teal lighten-2 "><i class="large material-icons ">mode_edit</i></a>
                            <a class=" btn waves-effect waves-light red lighten-2 "><i class="large material-icons ">delete</i></a>

                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>

            <div id="factures" class="col s9">

            </div>

        </div>

    </div>
</section>
</div>

<script>

    $(document).ready(function(){
        $('ul.tabs').tabs();
        $('.tooltipped').tooltip({delay: 50});
    });

</script>