<div ng-include="'views/layout/header.html'"></div>
<div ng-include="'views/layout/navigation.html'"></div>
<style>

    .pad{
        margin-top: 20px;
    }
    .mad{
        margin-top: 30px;
    }

    #mapid { height:400px;  border:1px solid red; }
</style>
<div class="progress" ng-show="loading">
    <div class="indeterminate"></div>
</div>
<div ng-hide="loading">

    <div class="row">
        <div class="col s3">
            <h4 class="teal-text"><small>{{intervention.Name}}</small></h4>
        </div>
        <div class="col s3 mad ">
            <a class=" btn waves-effect waves-light teal lighten-2 tooltipped " data-position="bottom" data-delay="50" data-tooltip="Edit Infromations"><i class="medium material-icons ">mode_edit</i></a>
            <a class=" btn waves-effect waves-light red lighten-2 tooltipped" data-position="bottom" data-delay="50" data-tooltip="Delete"><i class="medium material-icons ">delete</i></a>
        </div>
        <div class="col s6 pad">
            <div class="center-align">
                <ul class="tabs">
                    <li class="tab col s1"><a href="#groups">Groups</a></li>
                    <li class="tab col s1"><a href="#project">Project</a></li>
                    <li class="tab col s1"><a href="#location">Location</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="divider"></div>

    <div class="row">

        <div>

            <div class="col s5 ">

                <div class="row">
                    <div class="col s2">
                        <h5><small><b>Number</b></small></h5>
                        <div class="divider"></div>
                        <p>{{intervention.Number}}</p>
                    </div>
                    <div class="col s6">
                        <h5><small><b>Remarks</b></small></h5>
                        <div class="divider"></div>
                        <p>{{intervention.Remarks}}</p>

                    </div>
                </div>

                <div class="row">
                    <div class="col s6">
                        <h5><small><b>Site</b></small></h5>
                        <div class="divider"></div>
                        <p>{{intervention.Customer.Adress}}</p>
                    </div>

                    <div class="col s5">
                        <h5><small><b>Client</b></small></h5>
                        <div class="divider"></div>
                        <p>{{intervention.Customer.FullName}}</p>
                        <p><i class="tiny material-icons">call</i> {{intervention.Customer.Phone}}</p>
                    </div>
                </div>

                <div class="row">
                    <h5><small><b>Date</b></small></h5>
                    <p>{{intervention.StartDate | date:'yyyy MMMM dd'}} - {{intervention.EndDate | date:'yyyy MMMM dd'}}</p>
                </div>

                <div class="row">
                    <h5><small><b>Further information</b></small></h5>
                        <p> Additionnal attributes</p>
                </div>


            </div>

            <div id ="groups" class="col s7 ">

                <h5 class="center">{{interventionGroup.Name}}</h5>
                <p class="center">{{interventionGroup.Description}}</p>

                <div class="card grey lighten-3 col s4 offset-s1" ng-repeat="user in interventionGroup.Users">
                    <div class="card-content black-text">
                        <h5><small><span >{{user.FullName}} | {{user.Type.Type}}</span></small></h5>
                        <p><i class="tiny material-icons">call</i> {{user.Phone}}</p>

                            <p>skills:</p>
                            <span class="chip" ng-repeat="skill in user.Skills">{{skill.Title}}</span>

                    </div>
                </div>


            </div>

            <div id ="project" class="col s7 ">
            </div>
            <div id ="location" class="col s7 ">

                <div id="mapid"></div>
                <script>

                    var map = L.map('mapid').setView([-18.980595, 47.539415], 13);

                    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
                    }).addTo(map);


                    L.marker([-18.980595, 47.539415]).addTo(map)
                            .bindPopup('{{intervention.Customer.Adress}}')
                            .openPopup();
                </script>


            </div>


         </div>

    </div>

</div>
<script>

    $(document).ready(function(){
        $('ul.tabs').tabs();
        $('.tooltipped').tooltip({delay: 50});
    });

</script>