<div ng-include="'views/layout/header.html'"></div>
<div ng-include="'views/layout/navigation.html'"></div>


<div class="progress" ng-show="loading">
    <div class="indeterminate"></div>
</div>

<div ng-hide="loading" class="container">

    <div class="row" >


        <div class="row hide-print">
            <div class="input-field col s2">
                <input id="icon_prefix" ng-model="searchText" class="validate" />
                <label for="icon_prefix">Filtrer</label>
            </div>
        </div>
        <div class="card">
            <table class=" bordered responsive-table">
                <thead>
                <tr >
                    <th >Libellé</th>
                    <th >Status</th>
                    <th >Client</th>
                    <th >Remarque</th>
                    <th >Debut</th>
                    <th >Fin</th>
                </tr>
                </thead>

                <tbody>

                <tr ng-repeat="intervention in interventions | filter :searchText">
                    <td><a ui-sref="interventionDetails({id: {{intervention.Id}} })">{{intervention.Name}}</a></td>
                    <td class="green-text">Terminé</td>
                    <td><a ui-sref="customerDetails({id: {{intervention.Customer.Id}} })">{{intervention.Customer.FullName}}</a></td>
                    <td><a ui-sref="projectDetails({id: {{intervention.Project.Id}} })">{{intervention.Remarks}}</a></td>
                    <td>{{intervention.StartDate | date:'yyyy-MMM-dd'}}</td>
                    <td>{{intervention.EndDate | date:'yyyy-MMM-dd'}}</td>
                </tr>

                </tbody>
            </table>
        </div>
        <div class="input-field center hide-print ">
            <ul class="pagination">
                <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                <li class="active grey lighten-1"><a href="#!">1</a></li>
                <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
            </ul>
        </div>

    </div>

</div>


