<div ng-include="'views/layout/header.html'"></div>
<div ng-include="'views/layout/navigation.html'"></div>

<div id="modal2" class="modal">
    <div class="modal-content ">
        <div class="row center">
            <div class="col s1 " ><i class="medium material-icons">warning</i></div>
            <div class="col s11"><h5 class="red-text"><small>Voulez-vous vraiment supprimer " {{intervention.Name}} " ?</small></h5></div>
        </div>
        <p class="center">Ceci supprimera définitivement les informations liées à cette intervention </p>
    </div>
    <div class="modal-footer">
        <a href="#" class=" modal-action modal-close waves-effect waves-green btn-flat">No</a>
        <a href="#" class=" modal-action modal-close waves-effect waves-green btn-flat">Yes</a>
    </div>
</div>


<style>

    .pad{
        margin-top: 20px;
    }
    .mad{
        margin-top: 30px;
    }

    #mapid { height:400px;  border:1px solid red; }
</style>
<div class="progress" ng-show="loading">
    <div class="indeterminate"></div>
</div>
<div ng-hide="loading">

    <div class="row">
        <div class="col s3">
            <h4 class="teal-text"><small>{{intervention.Name}}</small></h4>
        </div>
        <div class="col s4 mad ">
            <a class=" btn waves-effect waves-light teal lighten-2 tooltipped " data-position="bottom" data-delay="50" data-tooltip="Modifier"><i class="medium material-icons ">mode_edit</i></a>
            <a class=" btn waves-effect waves-light red lighten-2 tooltipped modal-trigger" href="#modal2" data-position="bottom" data-delay="50" data-tooltip="Supprimer"><i class="medium material-icons ">delete</i></a>
            <a class=" btn transparent black-text"  ><i class="medium material-icons left">done</i>Terminé</a>
        </div>
        <div class="col s5 pad">
            <div class="center-align">
                <ul class="tabs">
                    <li class="tab col s1"><a href="#groups">Groupe</a></li>
                    <li class="tab col s1"><a href="#project">Projet</a></li>
                    <li class="tab col s1"><a href="#location">Site</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="divider"></div>

    <div class="row">

        <div>

            <div class="col s5 ">

                <div class="row">
                    <div class="col s4">
                        <h5><small><b>N° Intervention</b></small></h5>
                        <div class="divider"></div>
                        <p>{{intervention.Number}}</p>
                    </div>


                    <div class="col s4">
                        <h5><small><b>Date</b></small></h5>
                        <div class="divider"></div>
                        <p>07 Septembre 2016</p>
                    </div>

                    <div class="col s4">
                        <h5><small><b>Client</b></small></h5>
                        <div class="divider"></div>
                        <p>{{intervention.Customer.FullName}}</p>
                        <p><i class="tiny material-icons">call</i> (261) 33 33 106 57</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col s6">
                        <h5><small><b>Site de l'intervention</b></small></h5>
                        <div class="divider"></div>
                        <p>{{intervention.Customer.Adress}}</p>
                    </div>

                    <div class="col s6">
                        <h5><small><b>Remarques</b></small></h5>
                        <div class="divider"></div>
                        <p>{{intervention.Remarks}}</p>
                    </div>

                </div>

                <div class="row">
                    <div class="col s6">
                        <h5><small><b>Autres informations</b></small></h5>
                        <p> Nécessite un cable de plus de 20 m car mur non perçable</p>
                    </div>
                    <div class="col s6">
                        <h5><small><b>Travaux</b></small></h5>
                        <p>Vérificaction de l'emplacement <i class=" blue-text tiny material-icons">thumb_up</i></p>
                        <p>Préparation des installations <i class=" blue-text tiny material-icons">thumb_up</i></p>
                        <p>Percer les murs <i class=" red-text tiny material-icons">thumb_down</i></p>
                    </div>
                </div>


            </div>

            <div id ="groups" class="col s7 ">

                <h5 class="center">{{interventionGroup.Name}}</h5>
                <p class="center">{{interventionGroup.Description}}</p>

                <div class="card grey lighten-3 col s5 offset-s1" ng-repeat="user in interventionGroup.Users">
                    <div class="card-content black-text">
                        <h5><small><span ><a ui-sref="technicians">{{user.FullName}}</a> | Technicien</span></small></h5>
                            <span >Décodeur, Box internet, Maintenance</span>

                    </div>
                </div>


            </div>

            <div id ="project" class="col s7 ">

                <div class="col s6 offset-s3">
                    <div class="row">
                        <h5>Pack 3 en 1 Jary </h5>
                        <div class="divider"></div>
                        <p> Projet d'installation du pack fibre + télévision + téléphone</p>
                    </div>

                    <div class="row">
                        <h5><small>Progression</small></h5>
                        <div class="divider"></div>
                        <p>07 Septembre 2016 au 15 Septembre 2016</p>
                        100%
                        <div class="progress">
                            <div class="determinate" style="width: 100% "></div>
                        </div>


                    </div>


                    <div class="row">
                        <h5><small>Créer par :</small></h5> <p> Administrateur</p>

                        <button class="btn green">Details</button>

                    </div>

                </div>


            </div>
            <div id ="location" class="col s7 ">

                <div id="mapid"></div>
                <script>

                    var map = L.map('mapid').setView([-18.950940, 47.525204], 13);

                    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
                    }).addTo(map);


                    L.marker([-18.950940, 47.525204]).addTo(map)
                            .bindPopup('{{intervention.Customer.Adress}}')
                            .openPopup();
                </script>


            </div>


         </div>

    </div>

</div>
<script>

    $(document).ready(function(){
        $('ul.tabs').tabs();
        $('.tooltipped').tooltip({delay: 50});



            $('.modal-trigger').leanModal({
                        dismissible: true, // Modal can be dismissed by clicking outside of the modal
                        opacity: 0.6, // Opacity of modal background
                        in_duration: 300, // Transition in duration
                        out_duration: 200, // Transition out duration
                        starting_top: '50%', // Starting top style attribute
                        ending_top: '10%' // Ending top style attribute
                    }
            );


    });

</script>