<div ng-include="'views/layout/header.html'"></div>
<div ng-include="'views/layout/navigation.html'"></div>
<style>

    .mad{
        margin-top: 35px;
    }
    .card-content{
        margin: 50px;
    }
</style>
<div class="progress" ng-show="loading">
    <div class="indeterminate"></div>
</div>

<div ng-hide="loading" class="container">
    <div class="row" >


        <div class="col s5 hide-print">
            <div class="input-field ">
                <input id="icon_prefix" ng-model="searchText" class="validate" />
                <label for="icon_prefix">Filtrer</label>
            </div>
            <div class="card">
                <div class="collection">
                    <a ng-repeat="technician in technicians | filter :searchText" class="collection-item" ng-click="details(technician.Id)">{{technician.FullName}}</a>
                </div>
            </div>
        </div>


        <div class="col s7 mad" >

            <div class="progress" ng-show="load">
                <div class="indeterminate"></div>
            </div>
            <div ng-hide="load">

                <div class="card  text-darken-2">
                    <div class="card-content ">
                        <h4 class="center"><span class="card-title">{{technician.FullName}}</span></h4>

                        <div class="row">
                            <div class="col s8">
                                <p><i class="material-icons tiny ">email</i> {{technician.Email}}</p>
                                <p><i class="material-icons tiny ">phone</i> {{technician.Phone}}</p>
                                <p>Date de naissance: {{technician.Dob | date:'yyyy-MMM-dd'}}</p>
                                <a class="waves-effect waves-light btn" ng-repeat="group in groups">{{group.Name}}</a>
                            </div>

                            <div class="col s4">
                                <img class="materialboxed" width="50%" src="assets/images/no_user_logo.png">
                            </div>
                        </div>
                        <div class="row">
                            <canvas id="radar" class="chart chart-radar"
                                    chart-data="data" chart-options="options" chart-labels="labels">
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>